<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RedisURL</key>
    <string>YOUR_AZURE_REDIS_URL_HERE</string>
    <key>RedisKey</key>
    <string>YOUR_AZURE_REDIS_KEY_HERE</string>
    <key>RedisInstanceName</key>
    <string>Prestige</string>
    <key>EnableRedisCache</key>
    <true/>
</dict>
</plist>